{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Main page{% endblock %} | Torneo</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% block additional_styles %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" />
  <meta name="description" content="A tournament app">
  <meta name="keywords" content="tournament, torneo">
  <meta name="theme-color" content="#f77f00" />
</head>

<body>
  {% include "layout/header.html" %}
  <main class="container d-flex gap-3 flex-column align-items-center justify-content-start">
    {% include "layout/messages.html" %}
    {% block content %}{% endblock %}
  </main>
  {% include "layout/footer.html" %}
  {% bootstrap_javascript %}
  {% block additional_scripts %}{%endblock %}
</body>

</html>