<div class="row">
  <div class="col-md-9 col-lg-6 mx-auto mb-3">
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
    <form name="search">
      {% csrf_token %}
      <div class="input-group" action="{% url 'index' %}">
        <input class="form-control" type="text" name="search" placeholder="Search...">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>


<div class="row">
  {% for tournament in page_obj %}
  <div class="col-sm-6 col-lg-3 mt-2 mb-2">
    <div class="card">
      <div class="card-header">
        <h5>{{ tournament.name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Applied: {{ tournament.applied_participants_count }} / {{ tournament.max_number_of_participants }}
        </li>
        <li class="list-group-item">
          Discipline: {{ tournament.discipline }}
        </li>
        <li class="list-group-item">
          Deadline: {{ tournament.applying_deadline | date:'Y-m-d G:i' }}
        </li>
        <li class="list-group-item">
          <a class="btn btn-primary" href="{% url 'tournament_detail' tournament_id=tournament.id %}">Details</a>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>