<nav class="btn-group" aria-label="Page navigation">
  {% if page_obj.has_previous %}
  <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% else %}
  <a class="btn btn-outline-primary disabled" href="#" tabindex="-1" aria-disabled="true">Previous</a>
  {% endif %}
  <a class="btn btn-primary" href="#">{{ page_obj.number }}</a>
  {% if page_obj.has_next %}
  <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
  {% else %}
  <a class="btn btn-outline-primary disabled" href="#" tabindex="-1" aria-disabled="true">Next</a>
  {% endif %}
  </ul>
</nav>